* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', serif;
}

.header {
	background-color: rgba(255, 255, 255, 0.7);

	.container {
		max-width: 1300px;
		margin: auto;
		padding: 0px 25px;

		.navbar {
			display: flex;
			align-items: center;
			padding: 25px;
			justify-content: flex-end;
			gap: 20px;

			a {
				text-decoration: none;
				color: #555;
			}
		}

		.headerContent {
			margin-top: 70px;
			display: flex;
			align-items: center;

			.headerContentItem {
				flex: 1;
				h1 {
					font-size: 50px;
					line-height: 60px;
					margin: 25px 0px;
				}
				p {
					color: #555;
				}
				img {
					width: 100%;
					padding: 50px 0px;
				}
			}
		}
	}
}
